<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" />
    <package id="brave" />
    <package id="discord" />
    <package id="gh" />
    <package id="go" />
    <package id="neovim" />
    <package id="vscode" />
    <package id="adobereader" />
    <package id="powershell-core"
        installArguments="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1 ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL=1"
        />
    <package id="vlc" />
</packages>
